{{#each resume.education}}
    <div class="section">
        {{#if @first}}
        {{> section-header sectionTitle="Education"}}
        {{/if}}
        <div class="school">
            <div class="school-header">
                <p><span class="sub-title">{{school}}</span> | {{degree}}</p>
            </div>
            <div class="description">{{description}}</div>
        </div>
    </div>
{{/each}}